In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\Vishal\Desktop\DAta science\Projects\Iris data set\Iris.csv")

In [3]:
data.shape

(150, 6)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Species']=le.fit_transform(data['Species'])

In [7]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [8]:
data.drop('Id',axis=1,inplace=True)

In [9]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [10]:
X=data.drop('Species',axis=1)
y=data['Species']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=2)

In [12]:
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.svm import SVR
from sklearn.metrics import r2_score,mean_absolute_error

In [13]:
lin_reg=LinearRegression()
lin_model=lin_reg.fit(X_train,y_train)

In [14]:
r2_score(y_test,lin_model.predict(X_test))

0.937054401498083

In [15]:
log_reg=LogisticRegression()
log_model=log_reg.fit(X_train,y_train)

In [16]:
r2_score(y_test,log_model.predict(X_test))

0.951923076923077

In [17]:
svr=SVR()
svr_model=svr.fit(X_train,y_train)

In [18]:
r2_score(y_test,svr_model.predict(X_test))

0.9578265346326937

In [19]:
import pickle

In [20]:
pickle.dump(data,open('data.pkl','wb'))
pickle.dump(lin_model,open('lin_model.pkl','wb'))
pickle.dump(log_model,open('log_model.pkl','wb'))
pickle.dump(svr_model,open('svr_model.pkl','wb'))